* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.hc-content {}

.page-login {
  background: url('../../assets/admin/images/login/img_bg.png') center no-repeat;
  background-size: cover;
}

.toolbar {
  background: #f2f2f2;
  padding: 10px;
  margin-bottom: 10px;
}

.text-left {
  text-align: left;
}

.fr {
  float: right;
}

.hc-list-title {
  padding: 10px 0;
  text-align: center;
  background: #f2f2f2;
  color: #20a0ff;
  margin-bottom: 2px;
}

.mint-indicator-wrapper {
  padding: 0.3rem!important;
}

.mint-spinner-fading-circle {
  width: 1rem!important;
  height: 1rem!important;
  background: none;
}

.mint-indicator-wrapper {
  background: rgba(0, 0, 0, 0.5);
}

.flexbox {
  display: flex;
  display: -webkit-flex;
}

.el-notification .el-icon-circle-check {
  font-size: 40px;
}

.el-form-item__content {
  text-align: left;
}

.el-table td,
.el-table th {
  text-align: center;
}
